<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body style="margin: 0;">
    <div style="display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column; background-color: #030f27;">
    <h1 style="color: #fdbe33; font-weight: bold; font-size: 190px; margin-top: -20px;">Closed</h1>
        <p style="margin-top: -80px; color: #fdbe33; font-size: 25px;">OPEN : Mon - Fri, 9-AM to 18-PM </p>
    </div>
</body>
</html>
